{% extends "base.html" %}

{% block content %}

<main class="bg-warning text-center align-items-center d-flex flex-column justify-content-center">
    <div class="w-50 bg-light mt-5 text-dark">
        <h2 class="bg-dark text-light">Meme #1</h2>
        <h6>PHOTO</h6>
        <h5>Caption</h5>
    </div>
    <div class="w-50 bg-light text-dark">
        <h2 class="bg-dark text-light">Meme #2</h2>
        <h6>PHOTO</h6>
        <h5>Caption</h5>
    </div>
    <div class="w-50 bg-light text-dark">
        <h2 class="bg-dark text-light">Meme #3</h2>
        <h6>PHOTO</h6>
        <h5>Caption</h5>
    </div>
</main>

{% endblock %}